@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Kingsley.io</title>

    <!-- Pull our styles from App_Start>BundleConfig.cs -->
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="btn-group" role="group">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" }) <!--Text Name, View Name, Controller Name-->
                @Html.ActionLink("Link Details", "Details", "Link", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Account Information", "Details", "KingsleyAccount", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })
            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        <div class="row">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <!-- Pull our scripts from App_Start>BundleConfig.cs -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
